html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* si usas canvas de fondo */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
