/* === SECCIÓN PROYECTOS === */

.projects-section {
  text-align: center;
  
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* === CARD Flip 3D === */

.project-card {
  width: 360px;
  height: 540px;
  perspective: 1200px;
}

.project-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
}

.project-card:hover .project-inner {
  transform: rotateY(180deg);
}

/* Frente y parte trasera */
.project-front,
.project-back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 18px;
  overflow: hidden;
  background: rgba(10, 10, 15, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
.multiline{
  white-space: pre-line;
  text-align: start;
}

/* Imagen del frente */
.project-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Parte trasera del flip */
.project-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 12px;
}

.project-back h3 {
  font-size: 18px;
  color: var(--gold);
}

.project-back p {
  color: var(--silver);
  font-size: 18px;
  line-height: 1.4;
}

/* Botón VER */
.project-btn {
  margin-top: 10px;
  padding: 8px 18px;
  border-radius: 999px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  border: 1px solid var(--gold);
  color: var(--gold);
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.project-btn:hover {
  background: var(--gold);
  color: #050509;
}

.project-card.show-project {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
